*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
  body {
    min-height: 100vh;
    width: 100%;
    border: 3px solid yellow;
  }

/* App */
  .app-container {
    width: 80%;
    height: 90vh;
    margin: 5vh auto;
  }


/* Header */
  .header {
    min-height: 4rem;

    display: flex;
    justify-content: space-around;
  }

  .header__date--inputContainer {
    display: flex;
    justify-content: space-around;
  }

  .header__date--picker {
    margin-right: 1rem;
  }

/* MainBody */
  .main-body {
    height: 500px;
    width: 100%;
  }

/* Graph */